form {
    background: white;
    padding: 30px;
    border:  2px solid #eee;
}


button.primary.button {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}